.adv-adv-button-edt{
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #53d2d6, #6558df, #df00f3);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  font-size: .7em;
  font-weight: bold;
  background-size: 200% 100%;
  transition: background-position 1s, color 1s;
  display: block;
  margin-bottom: 20px;
  position: absolute;
}

.adv-adv-button-edt:hover{
  background-position: 100% 0;
}


.input-container-edt{
  width: 50%;
  height: 80%;
  position: relative;
  display: inline-block;
  margin-top: 30px;
  color: rgb(90, 90, 90);
  font-size: .8em;  
}